

#rel{ 
	color:black;
	font-weight: bold;
	text-align:center;

}

#centralizador {  
		margin-left: auto;
		margin-right: auto; 	
		width: 750px;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center ;
		}


#quadrado{ 
	
	float:left;
	font-weight: bold;
	text-align:center;
	width: 50%;
    height: 200px;
	

}

#quadrado2{ 
	float:right;
	font-weight: bold;
	text-align:center;
	width: 50%;
    height: 200px;

}

#centralizador_resuls {  
		margin-left: auto;
		margin-right: auto; 	
		width: 750px;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center ;
		color:red;
		}